In [16]:
df = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

    ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

    ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

    ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

   ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [17]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

te=TransactionEncoder()
te_ary=te.fit(df).transform(df)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

   Dress  Earrings    Hat  Heels  ...  Shirt  Skirt  Sneakers  Sunglasses
0  False     False   True  False  ...  False   True      True       False
1  False     False   True  False  ...  False   True      True        True
2   True     False  False   True  ...  False  False     False       False
3   True      True   True   True  ...  False  False     False       False
4  False      True  False  False  ...   True   True     False       False

[5 rows x 12 columns]

In [18]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Pants, Scarf)
5      0.6  (Pants, Skirt)

In [19]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

  antecedents consequents  antecedent support  ...    lift  leverage  conviction
0     (Pants)     (Scarf)                 0.8  ...  0.9375     -0.04         0.8
1     (Scarf)     (Pants)                 0.8  ...  0.9375     -0.04         0.8
2     (Pants)     (Skirt)                 0.8  ...  1.2500      0.12         1.6
3     (Skirt)     (Pants)                 0.6  ...  1.2500      0.12         inf

[4 rows x 9 columns]

In [20]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

  antecedents consequents  antecedent support  ...  lift  leverage  conviction
0     (Skirt)     (Pants)                 0.6  ...  1.25      0.12         inf

[1 rows x 9 columns]

In [21]:
#importer le fichier csv
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
import pandas as pd
path="/content/drive/MyDrive/Checkpoint 9/Market_Basket_Optimisation.csv"
data=pd.read_csv(path, encoding="UTF-8", sep=',')
data.head(5)

           shrimp    almonds     avocado  ... frozen smoothie spinach olive oil
0         burgers  meatballs        eggs  ...             NaN     NaN       NaN
1         chutney        NaN         NaN  ...             NaN     NaN       NaN
2          turkey    avocado         NaN  ...             NaN     NaN       NaN
3   mineral water       milk  energy bar  ...             NaN     NaN       NaN
4  low fat yogurt        NaN         NaN  ...             NaN     NaN       NaN

[5 rows x 20 columns]

In [25]:
records = []
for i in range(0, len(data)):
    records.append([str(data.values[i,j]) for j in range(0, 20)])
    records[i] = [x for x in records[i] if x != 'nan']

In [26]:
te=TransactionEncoder()
te_ary=te.fit(records).transform(records)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df.head()

    asparagus  almonds  antioxydant juice  ...   yams  yogurt cake  zucchini
0       False    False              False  ...  False        False     False
1       False    False              False  ...  False        False     False
2       False    False              False  ...  False        False     False
3       False    False              False  ...  False        False     False
4       False    False              False  ...  False        False     False

[5 rows x 120 columns]

In [28]:
frequent_itemsets=apriori(df, min_support=0.05, use_colnames=True)
frequent_itemsets

     support                    itemsets
0   0.087200                   (burgers)
1   0.081067                      (cake)
2   0.060000                   (chicken)
3   0.163867                 (chocolate)
4   0.080400                   (cookies)
5   0.051067               (cooking oil)
6   0.179733                      (eggs)
7   0.079333                  (escalope)
8   0.170933              (french fries)
9   0.063200           (frozen smoothie)
10  0.095333         (frozen vegetables)
11  0.052400             (grated cheese)
12  0.132000                 (green tea)
13  0.098267               (ground beef)
14  0.076400            (low fat yogurt)
15  0.129600                      (milk)
16  0.238267             (mineral water)
17  0.065733                 (olive oil)
18  0.095067                  (pancakes)
19  0.071333                    (shrimp)
20  0.050533                      (soup)
21  0.174133                 (spaghetti)
22  0.068400                  (tomatoes)
23  0.062533                    (turkey)
24  0.058533          (whole wheat rice)
25  0.052667  (chocolate, mineral water)
26  0.050933       (eggs, mineral water)
27  0.059733  (spaghetti, mineral water)

In [29]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.3)

   antecedents      consequents  ...  leverage  conviction
0  (chocolate)  (mineral water)  ...  0.013623    1.122506
1  (spaghetti)  (mineral water)  ...  0.018243    1.159468

[2 rows x 9 columns]